Projet TikTok Viral Remix.json
{
  "name": "TikTok Scrape & Viral Remix",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://api.tiktok-scraper.local/search",
        "options": {
          "queryParameters": {
            "prompt": "={{$node[\"Webhook Trigger\"].json[\"prompt\"]}}",
            "period": "24h"
          }
        }
      },
      "name": "Fetch Top 24h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "url": "https://api.tiktok-scraper.local/search",
        "options": {
          "queryParameters": {
            "prompt": "={{$node[\"Webhook Trigger\"].json[\"prompt\"]}}",
            "period": "7d"
          }
        }
      },
      "name": "Fetch Top 7d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "https://api.tiktok-scraper.local/search",
        "options": {
          "queryParameters": {
            "prompt": "={{$node[\"Webhook Trigger\"].json[\"prompt\"]}}",
            "period": "30d"
          }
        }
      },
      "name": "Fetch Top 30d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [300, 400]
    },
    {
      "parameters": { "mode": "mergeByKey", "keys": ["id"], "joinType": "union" },
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "expression": "={{$json[\"url\"]}}"
      },
      "name": "Download Videos",
      "type": "n8n-nodes-base.binaryData",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "command": "scenedetect -i {{ $binary.data.filePath }} --threshold 30 detect-content list-scenes.csv"
      },
      "name": "PySceneDetect",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "=https://<YOUR_RAILWAY_SERVICE>/render",
        "options": {
          "formData": {
            "file": { "binaryPropertyName": "data" }
          }
        }
      },
      "name": "MoviePy Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "channel": "={{$env.DISCORD_CHANNEL_ID}}",
        "text": "Votre clip viral 30s est prêt :",
        "binaryPropertyName": "data"
      },
      "name": "Post to Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1300, 250]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "Fallback vidéo 30s",
        "binaryPropertyName": "data"
      },
      "name": "Post to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 350]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Post to Discord\"].json[\"success\"]}}",
              "operation": "equal",
              "value2": "false"
            }
          ]
        }
      },
      "name": "If Discord Fails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{"node":"Fetch Top 24h"},{"node":"Fetch Top 7d"},{"node":"Fetch Top 30d"}]] },
    "Fetch Top 24h": { "main": [[{"node":"Merge Results"}]] },
    "Fetch Top 7d": { "main": [[{"node":"Merge Results"}]] },
    "Fetch Top 30d": { "main": [[{"node":"Merge Results"}]] },
    "Merge Results": { "main": [[{"node":"Download Videos"}]] },
    "Download Videos": { "main": [[{"node":"PySceneDetect"}]] },
    "PySceneDetect": { "main": [[{"node":"MoviePy Render"}]] },
    "MoviePy Render": { "main": [[{"node":"Post to Discord"}]] },
    "Post to Discord": { "main": [[{"node":"If Discord Fails"}]] },
    "If Discord Fails": { "main": [[{"node":"Post to Telegram"}]] }
  }
}
